@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Corinthia:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@page {
    size: A4;
    margin: 1cm;
  }

  @media print {
    .noprint {
      display: none ;
      visibility: hidden ;
      height: 0 ;
      width: 0 ;
      overflow: hidden ;
      position: absolute ;
      
    }
    .ellipsisText {
      white-space: normal;
      overflow: visible;
      text-overflow: clip;
      max-width: none;
    }
    .mailtext {
      letter-spacing: 5px;
      white-space: normal;
      overflow: visible;
      text-overflow: clip;
      max-width: none;

    }
  }

  .App {
    display: flex;
    gap: 10px;
  }

  * {
    margin: 0;
    padding: 0;
  }

  .print{
    width: 50px;
    height: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(97,90,88,255);
    border: 5px solid rgb(189,164,148);
    background-color: rgb(189,164,148);
    margin: 20px;
    margin-top: 90px;
    cursor: pointer;
  }

  .body {
    width: 100%;
    height: 100%;
    aspect-ratio: 210 / 297;
    max-width: 8.27in;
    max-height: 11.69in;
    border-collapse: collapse;
    overflow: hidden;
    font-family: sans-serif;
    margin: 0;    
    padding: 0;
    font-size: 9pt;
    background-color: rgba(254,254,252,255);
    position: relative;
  }

.headshade{
    width: 100%;
    height: 20%;
    position: relative;
    background: linear-gradient(to bottom, rgba(203,199,196,255) 50%, transparent 50%);
    display: flex;
    align-items: center;
    justify-content: center;
}


.headbar{
    position: absolute;
    width: 70%;
    height: 50%;
    background-color: rgba(229,221,212,255);
    border-radius: 9999px;    
    z-index: 1;
    justify-content: center;
    align-items: center;
    border: 1.5px solid rgba(98,91,91,255);

}

.pic{
    position: absolute;
    height: 70%;
    aspect-ratio: 1 / 1;
    background-color: rgba(111,90,88,255);
    border-radius: 50%; 
    top: 15%;
    left: 100px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgba(111,90,88,255);
}

.img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.content{
  width: 100%;
  height: 100%;
  display: flex;
  border-collapse: collapse;
}


.main{
  width: 70%;
  height: 80%;
  border-right: 1px solid rgba(231,232,229,255);
  padding-left: 50px;
  
}

.sidebar{
  width: 30%;
  height: 80%;
  border-left: 1px solid rgba(231,232,229,255);
  padding-top: 35px;
  padding-left: 10px;
  padding-right: 10px;
}

.title{
    padding: 15px;
    font-family: 'Corinthia', cursive;
    font-size: xxx-large;
    font-weight: bolder;
    padding-left: 175px;
    padding-bottom: 5px;
    color: rgba(5,2,0,255);
}

.subtitle{
    font-family: 'comfortaa', cursive;
    font-size: large;
    font-weight: bold;
    padding-left: 175px;
    color: rgba(5,2,0,255);
    opacity: 75%;
    letter-spacing: 1px;
}

.section{
  margin-bottom: 50px;
  margin-right: 20px;
}

.sectionheaderm{
  padding: 8px 16px;
  font-family: 'Noto Sans', sans-serif;
    font-size: larger;
    color: rgba(15,17,14,255);
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid rgba(60,62,64,255);
    border-radius: 9999px;
    font-weight: bold;
    margin-bottom: 20px;
    border-spacing: 5px;
    letter-spacing: 2px;
    border-bottom: 2px solid rgba(60,62,64,255);
    border-top: 2px solid rgba(60,62,64,255);
    
}

.sectionheadersb{
  padding: 8px 16px;
  font-family: 'Noto Sans', sans-serif;
    font-size: larger;
    color: rgba(15,17,14,255);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    border: 1px solid rgba(60,62,64,255);
    border-radius: 9999px;
    font-weight: bold;
    margin-bottom: 20px;
    border-spacing: 5px;
    letter-spacing: 2px;
    border-bottom: 2px solid rgba(60,62,64,255);
    border-top: 2px solid rgba(60,62,64,255);
}

.subsectionheader{
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    font-weight: bold;
    color: rgba(43,43,41,255);
    margin-bottom: 10px;
    border-radius: 9999px;
    letter-spacing: 1px;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: flex;
}

.tag{
    aspect-ratio: 5 / 1;
    font-family: 'Comfortaa', cursive;
    font-size: smaller;
    color: rgba(132,130,133,255);
    background: rgba(244,240,239,255);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-weight: bold;
    border-radius: 9999px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    opacity: 80%;
}

.para{
    font-family: 'PT Sans', sans-serif;
    font-size: small;
    color: rgba(82,82,80,255);
    border-radius: 9999px;
    font-weight: 600;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    padding-left: 10px;
    opacity: 75%;
    margin-bottom: 10px;
}

.bulletin{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  border-collapse: collapse;
}

.bullet{
  width: 5px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: rgba(42,42,40,255);
  margin-right: 5px;
}

.skill{
  margin-bottom: 20px;
}

.language{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
 }

.language > * {
  position: relative;
  padding-left: 14px;
  width: calc(25% - 5px); 
  font-family: 'PT Sans', sans-serif;
  font-size: small;
  color: rgba(82,82,80,255);
  font-weight: 600;
  opacity: 75%;
}

.language > *::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(42, 42, 40, 255);
}

.framework{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
 }

.framework > * {
  position: relative;
  padding-left: 14px;
  width: calc(33% - 5px); 
  font-family: 'PT Sans', sans-serif;
  font-size: small;
  color: rgba(82,82,80,255);
  font-weight: 600;
  opacity: 75%;
}

.framework > *::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(42, 42, 40, 255);
}

.project{
  margin-bottom: 20px;
}

.icon{
  width: 20px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: rgba(117,116,147,255);
  border: 4px solid rgba(117,116,147,255);
  display : flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 10px;
  flex-shrink: 0;
}

.proicon{
  width: 12.5px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: rgba(117,116,147,255);
  border: 4px solid rgba(117,116,147,255);
  display : flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 10px;
  flex-shrink: 0;
  cursor: pointer;
}

.interest{
  width: 20%;
  aspect-ratio: 1 / 1;
  background-color: rgba(229,221,212,255);
  border-radius: 25%;
  border: 5px solid rgba(229,221,212,255);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 10px;

}

.education{
  margin-bottom: 20px;
}

.ico{
  background: transparent;
  border: none;
  margin-right: 3px

}

.status{
  font-weight: bold;
  opacity: 75%;
  margin-left: 3px;
}

.ellipsisText{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.mailtext{
  letter-spacing: normal;
  overflow: hidden;
  text-overflow: clip;
}

.sectionicon{
  width: 27.5px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: rgba(102,83,74,255);
  border: 4px solid rgba(102,83,74,255);
  display : flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  flex-shrink: 0;
  margin-bottom: 15px;
  margin-left: 5px;
}

.protxt{
  opacity: 75%;
  margin-right: 10px;
  font-weight: 100;
}

/*----------------------------------------------------------------------------*/


.bodyy {
    width: 8.27in;
    height: 11.69in;
    margin: 0 auto;
    background-color: rgba(254,254,252,255);
  }

.headshadee{
    width: 100%;
    height: 20%;
    position: relative;
    background: linear-gradient(to bottom, rgba(203,199,196,255) 50%, transparent 50%);
    display: flex;
    align-items: center;
    justify-content: center;
}


.headbarr{
    position: absolute;
    width: 70%;
    height: 50%;
    background-color: rgba(229,221,212,255);
    border-radius: 9999px;    
    z-index: 1;
    justify-content: center;
    align-items: center;
    border: 1.5px solid rgba(98,91,91,255);

}

.picc{
    position: absolute;
    height: 70%;
    aspect-ratio: 1 / 1;
    background-color: rgba(111,90,88,255);
    border-radius: 50%; 
    top: 15%;
    left: 100px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgba(111,90,88,255);
}

.imgg{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.contentt{
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  margin: 20px;
}

.titlee{
    padding: 15px;
    font-family: 'Corinthia', cursive;
    font-size: xxx-large;
    font-weight: bolder;
    padding-left: 175px;
    padding-bottom: 5px;
    color: rgba(5,2,0,255);
}

.subtitlee{
    font-family: 'comfortaa', cursive;
    font-size: large;
    font-weight: bold;
    padding-left: 175px;
    color: rgba(5,2,0,255);
    opacity: 75%;
    letter-spacing: 1px;
}


.sectionn{
    margin-bottom: 50px;
    margin-right: 20px;
  }
  

.sectionheaderr{
    max-width: fit-content;
    padding: 8px 16px;
    font-family: 'Noto Sans', sans-serif;
    color: rgba(15,17,14,255);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    border: 1px solid rgba(60,62,64,255);
    border-radius: 9999px;
    font-weight: bold;
    margin-bottom: 20px;
    border-spacing: 5px;
    letter-spacing: 2px;
    border-bottom: 2px solid rgba(60,62,64,255);
    border-top: 2px solid rgba(60,62,64,255);
    font-size: larger;
  }

  .subsectionheaderr{
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    font-weight: bold;
    color: rgba(43,43,41,255);
    margin-bottom: 10px;
    border-radius: 9999px;
    letter-spacing: 1px;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: flex;
}

.tagg{
    aspect-ratio: 5 / 1;
    font-family: 'Comfortaa', cursive;
    font-size: smaller;
    color: rgba(132,130,133,255);
    background: rgba(244,240,239,255);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-weight: bold;
    border-radius: 9999px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    opacity: 80%;
}

.paraa{
    width: 90%;
    aspect-ratio: 1 / 0.25;
    white-space: wrap; ;
    font-family: 'PT Sans', sans-serif;
    font-size: small;
    color: rgba(82,82,80,255);
    border-radius: 20px;
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: start;
    font-weight: 600;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    opacity: 75%;
}


.sectioniconn{
    width: 27.5px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: rgba(102,83,74,255);
    border: 4px solid rgba(102,83,74,255);
    display : flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    flex-shrink: 0;
    margin-bottom: 15px;
    margin-left: 5px;
  }
  
.bulletinn{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    border-collapse: collapse;
  }
  
  .skilll{
    margin-bottom: 20px;
  }
  
  .projectt{
    margin-bottom: 20px;
  }

  .iconn{
    width: 15px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: rgba(117,116,147,255);
    border: 4px solid rgba(117,116,147,255);
    display : flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 10px;
    flex-shrink: 0;
    margin-bottom: 10px;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .protxtt{
    opacity: 75%;
    margin-right: 10px;
    font-weight: 100;
  }

  .proiconn{
    width: 12.5px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: rgba(117,116,147,255);
    border: 4px solid rgba(117,116,147,255);
    display : flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 10px;
    flex-shrink: 0;
    cursor: pointer;
  }